#header {
  width: 100%;
  text-align: right;
  font-size: 20pt;
  margin-right: 20px;
  padding-bottom: 20px;
}

#logo {
  width: 100px;
  margin: auto;
}

#main {
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
