body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.fade {
  width:100%;
  object-fit: cover;
	filter: brightness(0.4);
	background-color: #000;
}

#header {
  width: 100%;
  text-align: right;
  font-size: 20pt;
  margin-right: 20px;
  padding-bottom: 20px;
}

#main {
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

#logo {
  width: 100px;
  margin: auto;
}

h1 {
  font-size: 30pt;
}

#search {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Chef_Pam_stands_in_front_of_the_Table_her_restaurant.png/1024px-Chef_Pam_stands_in_front_of_the_Table_her_restaurant.png");

  filter: blur(4px) brightness(0.6);

  /* to not show the blur borders on the sides*/
  transform: scale(1.03);

  height: 500px; 
  width: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#credits {
  background: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}